
body {
    
}


.img{
    object-fit:fill
}
.imageside {
    display: flex;
    flex-flow: row wrap;
    background-size: auto;
    background-position: center;
    width: 100vw;
    height: 100vw;
}

#formdiv {
    display:flex;
    align-items: flex-end;
}